/* .box{
    border: solid;
    display: inline-block;
    width: 50px;
    max-height: auto;
    margin: 1.66%;
    float: left;
    background: black;
    height: 50px;
    
  }
  
  .container{
    border: solid;
    display: block;
    clear: left;
    height: 100px;
    padding: 10px;
  } */
  body{
      background: #232323;
  }
  header{
      color: white;
      text-align: center;
      padding: 5% 10%;
      margin: -15px;

  }
  .box{
    margin: 1.66%;
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
  }
  .container{
      max-width: 600px;
      margin: auto;
      margin-top: 30px;
  }
  .correct{
      color:black;
  }
  .bar{
      /* float: left; */
      display: inline-block;
      background-color: white;
      text-align: center;
      position:absolute;
      left:0;
      right:0;
      width: 100%;
     margin-bottom: 50px;;
     height: 30px;
  }
  .bar span{
      width: 30%;
      margin: 1.66%;
  }
  br{
    clear: both;
    margin: 12%;
    display: block;
    min-height: 25px;
  }